##
## IDE
##
.idea
*.swo
*.swp
.vscode

##
## Python
##
*.egg-info/
*.egg
.eggs/
venv
.venv
build
dist
*.pyc
*.pyo
__pycache__/
.pytest_cache/
.hypothesis/
pyproject.toml
Pipfile.lock
.python-version

# general
.envrc

# ignore opm stuff
bundle_tmp*/
index_tmp*/
index_build_tmp*/
index.Dockerfile*
